.about-container .left-about p {
  padding-left: 0;
}

@media screen and (max-width: 600px) {
  header {
    padding: 0 !important;
  }

  .theme-btn {
    width: 50px;
    height: 50px;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6rem;
  }

  .left-header .h-shape {
    display: none;
    .image {
      display: flex;
    }
  }

  .right-header {
    flex: 1;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;

    .btn-con {
      margin-top: 2.2rem;
      .main-btn {
        display: flex;
        align-items: center;
      }
    }
  }

  .header-content .left-header .image {
    margin: 0 auto;
    padding: 0;
    width: 90%;
  }

  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    .control {
      margin: 1rem 0.3rem;
    }
  }

  .about-container {
    display: flex;
    flex-direction: column;
    .right-about {
      flex-direction: column;
      padding-top: 2.5rem;
    }
    .left-about {
      padding-right: 0;
      p {
        padding-left: 0;
      }
    }
  }

  .timeline {
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
  }

  .container {
    padding: 2rem 2.5rem !important;
  }

  .about-stats {
    .progress-bars {
      display: flex;
      flex-direction: column;
    }
  }

  // .portfolios {
  //   display: flex;
  //   flex-direction: column;
  //   padding-bottom: 6rem;
  //   margin-top: 1rem;
  // }

  .blogs {
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
  }

  .contact-content-con {
    display: flex;
    flex-direction: column;
    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }

  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }

  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }

  .main-title {
    h2 {
      font-size: 2rem !important;
      span {
        font-size: 2rem !important;
      }
      .bg-text {
        font-size: 2.9rem !important;
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .blogs {
    display: flex;
    flex-direction: column;
  }

  .right-header {
    margin: 0 auto !important;
  }

  .h-text {
    margin: 1.3rem 0 !important;
  }

  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    .control {
      margin: 1rem 1rem;
    }
  }

  .contact-item {
    flex-direction: row;
    margin: 1rem 2;
    p {
      font-size: 15px;
      color: var(--color-grey-2);
    }
    span {
      font-size: 15px;
    }
  }

  .submit-btn {
    justify-content: center !important;
  }
  .main-title {
    margin-top: 1.2rem;
    h2 {
      font-size: 2.4rem !important;
      span {
        font-size: 2.4rem !important;
      }
      .bg-text {
        font-size: 4rem !important;
      }
    }
  }

  .blog-text {
    padding: 2rem 0 0 0;
  }
}

@media screen and (max-width: 700px) {
  .name > span {
    white-space: wrap !important;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    .control {
      margin: 1rem 1.1rem;
    }
  }
  .about-stats .progress-bars {
    display: flex;
    flex-direction: column;
  }

  .about-container .right-about {
    display: flex;
    flex-direction: column;
  }

  .timeline {
    display: flex;
    flex-direction: column;
  }

  .main-title {
    h2 {
      font-size: 2.5rem;
      span {
        font-size: 2.5rem;
      }
      .bg-text {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .about-container .left-about {
    padding-right: 0rem;
    h4 {
      text-align: center;
    }
  }

  .header-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
    padding-top: 1.5rem;
  }

  .left-header .h-shape {
    display: none;
  }

  .left-header .image {
    width: 60%;
    margin: 0 auto;
  }

  .right-header {
    flex: 1; /* Per far espandere la colonna a destra */
    width: 90%;
    margin: 0 auto !important;
    margin-right: 0;
    text-align: center;
    padding-top: 3rem;

    .h-text {
      margin: 1.2rem 0;
    }
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    .control {
      margin: 1rem 1.3rem;
    }
  }

  .contact-icons {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1070px) {
  section {
    padding: 3rem 18rem;
  }
  .container {
    padding: 7rem 10rem;
  }

  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    .control {
      margin: 1rem 1.3rem;
    }
  }

  .name > span {
    white-space: nowrap;
  }

  .h-text {
    margin-right: 2rem;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    .right-about {
      padding-top: 2.5rem;
    }
  }

  .main-title {
    h2 {
      font-size: 4rem;
      span {
        font-size: 4rem;
      }
      .bg-text {
        font-size: 4.5rem;
      }
    }
  }

  .blogs {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 1250px) {
  .blogs {
    display: flex;
    flex-direction: row;
    margin-top: 6rem;
  }

  .h-text {
    margin-right: 2rem;
  }

  // .portfolios {
  //   display: flex;
  //   flex-direction: row;
  // }

  .header-content .right-header {
    padding-right: 0rem;
    margin-right: 3.8rem;
  }
}

@media screen and (max-width: 1432px) {
  .contact-content-con {
    display: flex;
    flex-direction: column;
    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }

  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }

  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }

  .main-title {
    h2 {
      .bg-text {
        font-size: 6.4rem;
      }
    }
  }
}
